.card,
.more-bg {
  width: 13rem;
  height: 350px;
  min-height: 350px;
  // background: #fcf6f5;
  border-radius: 20px;
  margin: 20px;
  transition: all 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  .card-title {
    padding: 5px;
    height: 50px;
    min-height: 50px;
    text-align: center;
  }
  img {
    min-height: 180px;
    max-height: 180px;
    width: 13rem;
    border-radius: 20px;
  }
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 13px;
    font-weight: 600;
  }
  .price_rate {
    width: 100%;
    display: flex;
    padding: 10px;
    font-size: 14px;
    justify-content: space-around;
    .price_rate-star {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      overflow: hidden;
      &::after {
        content: "";
        width: 10px;
        height: 30px;
        background: #fff;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 9px;
      }
    }
  }
}
.more {
  position: relative;
}
.more-bg {
  background: #999;
  // background: #fdfdfd;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
}
.more-text {
  color: white;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  text-align: center;
}
