.nav {
  width: 100%;
  padding: 10px 40px;
  background: rgb(255, 43, 43);
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  .nav_links {
    width: 50%;
    text-align: start;
    margin-bottom: 0;
    li {
      font-size: 25px;
      font-weight: bold;
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .nav_dashboard {
    width: 45%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    .search {
      input {
        padding: 10px 5px;
        border: none;
        margin-right: 16px;
        font-size: 15px;
      }
    }
    .bookmark,
    .cart {
      position: relative;
      .bookmark_icon {
        animation: beat 1.3s infinite;
      }
      span {
        position: absolute;
        bottom: 0%;
        right: 0%;
        font-size: 7px;
        background: #00145f;
        padding: 1px 3px;
        color: #fcf6f5;
        border-radius: 50%;
      }
    }
    .theme_toggle {
      .btn {
        border: none;
        background: transparent;
      }
      span {
        transition: all 0.2s;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .nav {
    .nav_links {
      li {
        font-size: 20px;
      }
    }
    .nav_dashboard {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      .search {
        grid-column: span 3;
        input {
          display: block;
          text-align: left;
          margin: 0;
          padding: 14px;
        }
      }
    }
  }
}
@keyframes beat {
  to {
    filter: drop-shadow(0 10px 40px green);
  }
}
