.product {
  margin-top: 40px;
  border-radius: 20px;
  background: #fff;
  .product_title {
    height: 400px;
    text-align: center;
    font-weight: bold;
    justify-content: space-around;
    h3 {
      font-size: 30px;
      padding: 0 30px;
    }
    .product_title_d {
      height: 120px;
      display: flex;
      justify-content: space-between;
    }
    .cart_market {
      padding: 0.55rem 0;
      background-color: #1a2529;
      border-radius: 17px 0 9px 0px;
      font-weight: 500;
      font-family: segoe ui;
      transition: all linear 0.1s;
      width: 5.5rem;
      color: white;
      &:hover {
        box-shadow: -4px -6px 6px -3px #fff2ae;
        transform: translate(0px, 2px) scale(1.025);
      }
    }
    .liked_product {
      margin-bottom: 20px;
      display: flex;
      align-content: center;
      gap: 5px;
      svg {
        margin-bottom: 3px;
      }
    }
  }
  .product_image {
    height: 400px;
    img {
      height: 100%;
      max-width: 100%;
      border-radius: 20px;
    }
  }
}
//
.product_details {
  background: rgb(104, 248, 200);
  border-radius: 10px;
  .details_operations {
    background: rgb(255, 217, 3);
    width: 450px;
    text-align: start;
    border-radius: 20px;
    button {
      border: none;
      padding: 10px;
      border-radius: 10px;
      font-weight: bold;
    }
  }
  p {
    font-size: 18px;
    text-align: justify;
    padding: 0 80px;
  }
  .details_des {
    display: none;
    padding: 30px;
  }
  .active_operations {
    display: block;
  }
  .active_details_operation {
    border-bottom: 3px solid #000;
    color: rgb(255, 123, 0) !important;
  }
}
.color-icon-book {
  color: #cecece;
}
.color_book {
  color: #333;
}
@media screen and(max-width:800px) {
  .product {
    .product_title {
      height: 280px;
      h3 {
        font-size: 17px;
      }
    }
    .product_image {
      height: 280px;
    }
  }
}
